// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "jz4770.dtsi"
#include "bits/gcw0-base.dtsi"

/ {
	compatible = "gcw,zero", "ingenic,jz4770";
	model = "GCW Zero";

	usb_vbus: regulator-2 {
		compatible = "regulator-fixed";
		regulator-name = "USB Power";
		gpio = <&gpf 10 0>;
		regulator-always-on; /* always ON for now */

		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc>;
	};

	rumble {
		compatible = "pwm-vibrator";
		pwms = <&pwm 4 2000000 0>;
		pwm-names = "enable";

		pinctrl-names = "default";
		pinctrl-0 = <&pins_pwm4>;
	};

	i2c3: i2c-controller@3 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		sda-gpios = <&gpd 5 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&gpd 4 GPIO_ACTIVE_HIGH>;
		i2c-gpio,delay-us = <2>; /* 250 kHz */

		act8600: pmic@5a {
			compatible = "active-semi,act8600";
			reg = <0x5a>;

			regulators {
				/* USB OTG */
				otg_vbus: SUDCDC_REG4 {
					/*
					 * 5.3V instead of 5.0V to compensate
					 * for the voltage drop of a diode
					 * between the regulator and the
					 * connector.
					 */
					regulator-min-microvolt = <5300000>;
					regulator-max-microvolt = <5300000>;
					inl-supply = <&vcc>;
				};

				/*
				 * When this is off, there is no sound, but also
				 * no USB networking.
				 */
				ldo5: LDO5 {
					regulator-min-microvolt = <2500000>;
					regulator-max-microvolt = <2500000>;
					inl-supply = <&vcc>;
				};

				/* LCD panel and FM radio */
				ldo6: LDO6 {
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					inl-supply = <&vcc>;
				};

				/* HDMI chip */
				ldo7: LDO7 {
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					inl-supply = <&vcc>;
				};

				/*
				 * The colors on the LCD are wrong when this is
				 * off. Which is strange, since the LCD panel
				 * data sheet only mentions a 3.3V input.
				 */
				LDO8 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					inl-supply = <&vcc>;
				};

				/* RTC fixed 3.3V */
				LDO_REG9 {
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					inl-supply = <&vcc>;
				};

				/* Unused fixed 1.2V */
				LDO_REG10 {
					inl-supply = <&vcc>;
				};
			};
		};
	};

	i2c4: i2c-controller@4 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		sda-gpios = <&gpd 6 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&gpd 7 GPIO_ACTIVE_HIGH>;
		clock-frequency = <100000>;

		it6610: hdmi@4c {
			status = "disabled"; /* Disable until the driver works */

			compatible = "ite,it6610";
			reg = <0x4c>;

			interrupt-parent = <&gpf>;
			interrupts = <12 0>;
			interrupt-names = "irq";

			reset-gpios = <&gpe 6 GPIO_ACTIVE_LOW>;

			pinctrl-names = "default";
			pinctrl-0 = <&pins_it6610>;

			power-supply = <&ldo7>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					hdmi_input: endpoint {
						bus-width = <24>;
						remote-endpoint = <&hdmi_output>;
					};
				};

				port@1 {
					reg = <1>;

					hdmi_connector_out: endpoint {
						remote-endpoint = <&hdmi_connector_in>;
					};
				};
			};
		};
	};

	dc_charger: dc-charger {
		compatible = "gpio-charger";
		charger-type = "mains";
		gpios = <&gpf 5 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&pins_dc_charger>;
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		label = "hdmi";

		type = "c";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_connector_out>;
			};
		};
	};
};

&headphones_amp {
	VCC-supply = <&ldo5>;
};

&speaker_amp {
	VCC-supply = <&ldo5>;
};

&sound_card {
	simple-audio-card,widgets =
		"Speaker", "Speaker",
		"Headphone", "Headphones",
		"Microphone", "Built-in Mic";
	simple-audio-card,routing =
		"Headphones Amp INL", "LHPOUT",
		"Headphones Amp INR", "RHPOUT",
		"Headphones", "Headphones Amp OUTL",
		"Headphones", "Headphones Amp OUTR",
		"Speaker Amp INL", "LOUT",
		"Speaker Amp INR", "ROUT",
		"Speaker", "Speaker Amp OUTL",
		"Speaker", "Speaker Amp OUTR",
		"LLINEIN", "Cap-less",
		"RLINEIN", "Cap-less",
		"Built-in Mic", "MICBIAS",
		"MIC1P", "Built-in Mic",
		"MIC1N", "Built-in Mic";
	simple-audio-card,pin-switches = "Speaker", "Headphones";
};

&btn6 {
	label = "Button Y";
};

&btn7 {
	label = "Button X";
};

&gpio_keys {
	btn13: button-13 {
		label = "Power hold";
		linux,code = <KEY_PAUSE>;
		linux,can-disable;
		gpios = <&gpf 11 GPIO_ACTIVE_LOW>;
	};
};

&spi0_gpio {
	status = "okay";

	panel: nt39016@0 {
		compatible = "kingdisplay,kd035g6-54nt";
		reg = <0>;

		spi-max-frequency = <3125000>;
		spi-3wire;

		reset-gpios = <&gpe 2 GPIO_ACTIVE_LOW>;

		backlight = <&backlight>;
		power-supply = <&ldo6>;

		port {
			panel_input: endpoint {
				remote-endpoint = <&panel_output>;
			};
		};
	};
};

&usb_conn {
	vbus-supply = <&otg_vbus>;
};

&usb_otg {
	/*
	 * The GCW Zero's ID detect mechanism has a tendency to toast itself,
	 * causing it to misdetect the USB mode and dumping current on the wires
	 * when it's not supposed to, causing further damage elsewhere.
	 * To support devices with the toasted ID detection, as well as prevent
	 * potential hardware damage on yet unaffected devices, force USB mode
	 * to peripheral only.
	 */
	dr_mode = "peripheral";
};

&pmu {
	power-supplies = <&act8600>, <&usb_conn>, <&dc_charger>;
};

&js_axis0 {
	abs-range = <3300 0>;
};

&js_axis1 {
	abs-range = <0 3300>;
};

&pinctrl {
	pins_i2c0: i2c0 {
		function = "i2c0";
		groups = "i2c0-data";
	};

	pins_i2c1: i2c1 {
		function = "i2c1";
		groups = "i2c1-data";
	};

	pins_it6610: it6610 {
		pins = "PF12";
		bias-pull-up;
	};

	pins_pwm4: pwm4 {
		function = "pwm4";
		groups = "pwm4";
	};

	pins_dc_charger: dc-charger {
		pins = "PF5";
		bias-pull-down;
	};
};

&uhc {
	/* The WiFi module is connected to the UHC. */
	status = "okay";
};

&otg_phy {
	vcc-supply = <&ldo5>;
};

&i2c0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c0>;

	clock-frequency = <400000>; /* 400 kHz */

	radio: radio@11 {
		compatible = "rda,rda5807";
		reg = <0x11>;

		rda,lnan;
		rda,lnap;
		rda,analog-out;

		power-supply = <&ldo6>;
	};
};

&i2c1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c1>;

	clock-frequency = <100000>; /* 100 kHz */

	accelerometer@15 {
		compatible = "memsic,mxc6225";
		reg = <0x15>;
	};
};

&lcd_ports {
	port@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;

		panel_output: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&panel_input>;
		};

		hdmi_output: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&hdmi_input>;
		};
	};
};
